<h1>Retailers#index</h1>
<p>Find me in app/views/retailers/index.html.erb</p>

<ul>
<% @retailers.each do |retailer| %>
    <li><%= link_to retailer.name, retailer_path(retailer) %></li>
<% end %>
</ul>