// Place all the styles related to the Snacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#snack-list li {
    list-style: none;
    color: green;
    font-size: 24px;
}

.blue {
    color: blue;
}

.inline {
    display: inline;
}