<h1>Create a new Author</h1>

<form action="/authors" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <h4>Create a book for this Author</h4>
    <label for="book[][title]">Title</label>
    <input type="text" name="book[][title]">
    <label for="book[][snippet]">Snippet</label>
    <input type="text" name="book[][snippet]">

    <label for="book[][title]">Title</label>
    <input type="text" name="book[][title]">
    <label for="book[][snippet]">Snippet</label>
    <input type="text" name="book[][snippet]">

    <label for="book[][title]">Title</label>
    <input type="text" name="book[][title]">
    <label for="book[][snippet]">Snippet</label>
    <input type="text" name="book[][snippet]">

    <input type="submit" value="Birth an author into existence">


</form>