<h1>Detail Page for <%= @author.name %></h1>

<div>
    Books by <%= @author.name %>

    <ul>
        <% @author.books.each do |book| %>
            <li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
        <% end %>
    </ul>


</div>